.main-content{
    margin-top: 70px;
}

h4 {
    margin-top: 50px;
}

.right{
    float: right;
}

.left{
    float: left;
}

.nav_hello {
    font-size: 14px;
    padding-top: 15px;
    border-bottom: white solid 1px;
}

pre {
    white-space: initial;
    word-break: keep-all;
}

