{%  extends "base.html" %}
{% load i18n %}

{% block title %}
    {{ article.title }}
{% endblock %}
{% block content %}

    <h2>{{ article.title }}</h2>
    <pre class="pre-scrollable">{{ article.text }}</pre>

        <br><h3 style = 'color: dodgerblue'>Discuss:</h3>
        {%  for comment in comments %}
            {% if comment.article_id == article.id  and comment.approved == 1 %}
                <h6 style = 'margin-left: 30px;'>{{ comment.user }} said:</h6>
                <h7 style = 'margin-left: 50px;'>{{ comment.text }}</h7>
            {% endif %}
        {% endfor %}

    <h4 style = 'color: dodgerblue'>Add a comment:</h4>
    <form method = 'POST' action = '{% url "create_comment" article.id %}'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Send</button>
    </form>
<br style="clear: both;"><br><br><br><br><br>
{% endblock %}