{%  extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {{ article.title }}
{% endblock %}
{% block content %}

    <h2>{{ article.title }}</h2>
    <pre>{{ article.text }}</pre>

        <h3 style = 'color: dodgerblue'>Discuss:</h3>
        {%  for comment in comments %}
            {% if comment.article_id == article.id  and comment.approved == 1 %}
                <h6>{{ comment.user }} said:</h6>
                <h7>{{ comment.text }}</h7>
            {% endif %}
        {% endfor %}

    <h4 style = 'color: dodgerblue'>Add a comment:</h4>
    <form method = 'POST' action = '{% url "create_comment" article.id %}'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn right">Send</button>
    </form>
<br><br><br><br><br><br>
{% endblock %}